*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #f3f3f3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}
.link{
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    cursor: pointer;
    padding: 0;
    font-family: serif;
    font-size: 1.5rem;
}
.link:hover{
    color: black;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.30rem;
    padding: 0.75rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);

}
.dropdown > .link:focus,
.link:hover{
    color: black;
}
.dropdown > .link:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
}
.information-grid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
.dropdown-links{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}